<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><%= t('.title') %></h1>
            <p class="lead"><%= t('.lead') %></p>
            <ul class="list-unstyled">
                <li><%= t('.feature1') %></li>
                <li><%= t('.feature2') %></li>
                <li><%= t('.feature3') %></li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
