<td  class="click-this" data-href="<%= user_path(user) %>">
  <%= user.name %>
</td>
<td>
  <%= user.email %>
</td>
<td>
  <%= user.language.try(:name) %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit (t :change_role), :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to((t :delete_user), user_path(user), :data => { :confirm => (t :sure) }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
